<article class="post">
	<h1 class="post-title">{{ page.title }}</h1>
	{{ content }}
	<div class="meta">
		<p class="date-publish">
			Published:
			<date class="date-pub" title="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}" pubdate>
				<span class="month"> <abbr>{{ page.date | date: '%B' }}</abbr>
				</span>
				<span class="day">{{ page.date | date: '%d' }}</span>
				<span class="year">{{ page.date | date: '%Y' }}</span>
			</date>
		</p>
		<ul class="list-category list-linear">
			<li class="list-head">category:</li>
			{% assign categories_list = page.categories %}
							{% include JB/categories_list %}
		</ul>
		<ul class="list-tag list-linear">
			<li class="list-head">tags:</li>
			{% assign tags_list = page.tags %}
							{% include JB/tags_list %}
		</ul>
	</div>
	<!-- meta -->
	<nav class="pagination-link">
		{% if page.previous %}
		<a class="prev" href="{{ site.url }}{{ page.previous.url }}" rel="bookmark">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
		{% endif %}
        {% if page.next %}
		<a class="next" href="{{ site.url }}{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
		{% endif %}
	</nav>
	<div id="disqus_thread"></div>
	<div id="mz-duoshou-comment-wrap">
		<!-- Duoshuo Comment BEGIN -->
		<div class="ds-thread"></div>
		<script type="text/javascript">
         var duoshuoQuery = {short_name:"flowerszhong"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = 'http://static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
            </script>
        <!-- Duoshuo Comment END --> </div>
</article>